# Comments & Basic Data Types

In [1]:
# This is a comment

In [2]:
print ("Hello world")   # This is a comment

Hello world

In [3]:
"""

        This is a muli-line comment

"""

print("Hello")        # this is also a comment

Hello

In [4]:
# The following are all integers

print(2)

print(10)

2
10

In [5]:
# The following are all floats

print(10.953)

print(8.0)       # even this number is a float

10.953
8.0

In [6]:
# the following are booleans

print(True)
print(False)

True
False

In [7]:
# The following are strings

print("")

print("There's a snake in my boot!")

print('True')

There's a snake in my boot!
True

In [8]:
# This will print out my name

print("Jason Carroll")

Jason Carroll

In [11]:
type(8.9)  # Will output <class 'int'>

float

# Variables

In [12]:
first_name = "John"

In [4]:
num1 = 5           # storing an integer into a variable

num2 = 8.4         # storing a float into a variable

print(num1, num2)  # you can print multipule items using commas

5 8.4

In [1]:
# Storing a boolean into a variable

switch = True

print(switch)

True

In [2]:
# Storing strings into a variable

name = 'John Smith'

fav_number = '9'

print(name, fav_number)       # will print 9 next to the name

John Smith 9

In [5]:
# Using two veriables to create another variables

result = num1 + num2

print(result)

13.4

In [6]:
# adding, deleting, muliplying, dividing from a variable

result += 1 # same as saying result = result + 1 

print(result)

result *= num1 # same as saying result = result * num1

print(result)

14.4
72.0

In [8]:
# defining a variable and overwriting it's value

name = 'John'

print(name)

name = 'Sam'

print(name)

John
Sam

In [37]:
# Tuesday Exercises 1

x = 3 
y = 10

result = x * y 

x = '3'
y = '10'


print(x, '*' , y, '=',result)

3 * 10 = 30

In [40]:
# Tueday Exercise 2

H = 245.54

W = 13.66

area = H * W

h = "245.54"

w = "13.66"


print('The area is', result)

The area is 3354.0764